h2 {
    color: #307dc2;
    font-size: 20pt;;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    
}
 h6 {
    color: #307dc2;
    font-size:12pt;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    position: center;
}
.CEN {
    
    align-items: center;
    position: center;  
    width:60%;
    box-shadow: 
    0px 2px 10px rgba(0,0,0,0.2), 
    0px 10px 20px rgba(0,0,0,0.3), 
    0px 30px 60px 1px rgba(0,0,0,0.5);
    /*margin-left: auto;
    margin-right: auto;*/
    
}
table caption{
    font-weight: 400;
    font-size: 8.2pt;
    position: middle;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(106, 106, 143);
    
}
.just {
background: #3383e5;
color:white;
    
}
 th ,td{
    font-family:'Times New Roman', Times, serif;
    font-weight: 550;
    background-color:  #ffffff;
    position: center;
}
a{
text-decoration: none;

}

body {
    font-family: 'lato', sans-serif;
  }
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    /*small  {
      font-size: 0.5em;
    }*/
  }

